package views

templ Plex() {
	@Base() {
		<div class="container-fluid py-4">
			<div class="d-flex justify-content-between align-items-center mb-4">
				<h1 class="h3 mb-0">Plex Video Organizer</h1>
			</div>
			@FolderGrid()
			@RefreshButton()
			@Modal()
		</div>
	}
}
